@font-face {
    font-family: ptserif;
    src: url(./assets/fonts/PTSerif.ttf);
}

@media only screen and (min-width: 1440px) {
    .menu .menuList {
        display: inline-flex;
    }

    .menu .sideMenuButton {
        display: none;
    }

    .userInformation p {
        font-size: 21px;
    }

    .userInformation img {
        height: 50px;
        width: 50px;
    }

    .mainContainer {
        width: 90%;
        top: 260px;
    }

    .mainImageContainer {
        width: 50%;
        float: right;
    }

    .mainImageContainer img {
        width: 438px;
        height: 438px;
    }

    .socialIconsContainer {
        width: 50%;
    }

    .socialIconsContainer img {
        width: 98px;
        height: 98px;
    }

    .socialIconsContainer img:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
    }

    .textContainer {
        width: 50%;
    }

    .titleContainer h1 {
        font-size: 55px;
    }

    .titleContainer h2 {
        font-size: 35px;
    }

    .textContainer p {
        font-size: 21px;
    }

    .frameworks {
        width: 24%;
    }
    .databases {
        width: 24%;
    }
    .languages {
        width: 24%;
    }
    .others {
        width: 24%;
    }
}
@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    .menu .menuList {
        display: inline-flex;
    }

    .menu .sideMenuButton {
        display: none;
    }

    .userInformation p {
        font-size: 21px;
    }

    .userInformation img {
        height: 50px;
        width: 50px;
    }

    .mainContainer {
        width: 85%;
        top: 230px;
    }

    .mainImageContainer {
        width: 50%;
        float: right;
    }

    .mainImageContainer img {
        width: 400px;
        height: 400px;
    }

    .socialIconsContainer {
        width: 50%;
    }

    .socialIconsContainer img {
        width: 98px;
        height: 98px;
    }

    .socialIconsContainer img:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
    }

    .textContainer {
        width: 50%;
    }

    .titleContainer h1 {
        font-size: 55px;
    }

    .titleContainer h2 {
        font-size: 35px;
    }

    .textContainer p {
        font-size: 21px;
    }

    .aboutTextContainer {
        width: 100%;
    }

    .frameworks {
        width: 24%;
    }
    .databases {
        width: 24%;
    }
    .languages {
        width: 24%;
    }
    .others {
        width: 24%;
    }
}
@media only screen and (min-width: 1060px) and (max-width: 1239px) {
    .menu .menuList {
        display: inline-flex;
    }

    .menu .sideMenuButton {
        display: none;
    }

    .userInformation p {
        font-size: 21px;
    }

    .userInformation img {
        height: 50px;
        width: 50px;
    }

    .mainContainer {
        width: 80%;
        top: 230px;
    }

    .mainImageContainer {
        width: 50%;
        float: right;
    }

    .mainImageContainer img {
        width: 350px;
        height: 350px;
    }

    .socialIconsContainer {
        width: 50%;
    }

    .socialIconsContainer img {
        width: 98px;
        height: 98px;
    }

    .socialIconsContainer img:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
    }

    .textContainer {
        width: 50%;
    }

    .titleContainer h1 {
        font-size: 55px;
    }

    .titleContainer h2 {
        font-size: 35px;
    }

    .textContainer p {
        font-size: 21px;
    }

    .aboutTextContainer {
        width: 100%;
    }

    .frameworks {
        width: 24%;
    }
    .databases {
        width: 24%;
    }
    .languages {
        width: 24%;
    }
    .others {
        width: 24%;
    }
}
@media only screen and (min-width: 840px) and (max-width: 1059px){
    .menu .menuList {
        display: none;
    }

    .menu .sideMenuButton {
        display: inline-flex;
    }

    .userInformation p {
        font-size: 21px;
    }

    .userInformation img {
        height: 50px;
        width: 50px;
    }

    .mainContainer {
        width: 75%;
        top: 260px;
    }

    .mainImageContainer {
        width: 50%;
        float: right;
    }

    .mainImageContainer img {
        width: 300px;
        height: 300px;
    }

    .socialIconsContainer {
        width: 50%;
    }

    .socialIconsContainer img {
        width: 69px;
        height: 69px;
    }

    .socialIconsContainer img:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
    }

    .textContainer {
        width: 50%;
    }

    .titleContainer h1 {
        font-size: 55px;
    }

    .titleContainer h2 {
        font-size: 35px;
    }

    .textContainer p {
        font-size: 21px;
    }

    .aboutTextContainer {
        width: 100%;
    }

    .frameworks {
        width: 24%;
    }
    .databases {
        width: 24%;
    }
    .languages {
        width: 24%;
    }
    .others {
        width: 24%;
    }
}
@media only screen and (min-width: 640px) and (max-width: 839px) {
    .menu .menuList {
        display: none;
    }

    .menu .sideMenuButton {
        display: inline-flex;
    }

    .userInformation p {
        font-size: 21px;
    }

    .userInformation img {
        height: 50px;
        width: 50px;
    }

    .mainContainer {
        width: 70%;
        top: 150px;
    }

    .mainImageContainer {
        width: 100%;
    }

    .mainImageContainer img {
        width: 300px;
        height: 300px;
    }

    .socialIconsContainer {
        width: 100%;
    }

    .socialIconsContainer img {
        width: 98px;
        height: 98px;
        display: block;
        margin: 0 auto;
    }

    .textContainer {
        width: 100%;
    }

    .titleContainer h1 {
        font-size: 50px;
    }

    .titleContainer h2 {
        font-size: 30px;
    }

    .textContainer p {
        font-size: 19px;
    }

    .aboutTextContainer {
        width: 100%;
    }

    .frameworks {
        width: 49%;
    }
    .databases {
        width: 49%;
    }
    .languages {
        width: 49%;
    }
    .others {
        width: 49%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
    .menu .menuList {
        display: none;
    }

    .menu .sideMenuButton {
        display: inline-flex;
    }

    .userInformation p {
        font-size: 19px;
    }

    .userInformation img {
        height: 45px;
        width: 45px;
    }

    .mainContainer {
        width: 70%;
        top: 150px;
    }

    .mainImageContainer {
        width: 100%;
    }

    .mainImageContainer img {
        width: 200px;
        height: 200px;
    }

    .socialIconsContainer {
        width: 100%;
    }

    .socialIconsContainer img {
        width: 98px;
        height: 98px;
        display: block;
        margin: 0 auto;
    }

    .textContainer {
        width: 100%;
    }

    .titleContainer {
        text-align: center;
        margin-bottom: 20px;
    }

    .titleContainer h1 {
        font-size: 27px;
    }

    .titleContainer h2 {
        font-size: 16px;
    }

    .textContainer p {
        font-size: 14px;
    }

    .aboutTextContainer {
        width: 100%;
    }

    .frameworks {
        width: 100%;
    }
    .databases {
        width: 100%;
    }
    .languages {
        width: 100%;
    }
    .others {
        width: 100%;
    }
}

/* ANIMATIONS */

@keyframes openSideMenu {
    from { width: 60px; }
    to { width: 240px; }
}

@keyframes closeSideMenu {
    from { width: 240px; }
    to { width: 60px; }
}

@keyframes entranceAnimation {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes exitAnimation {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(96, 108, 221, 1), rgba(56, 63, 117, 0.91));
}

.bannerTop {
    height: 90px;
    width: 100vw;
    position: absolute;
    top: 30px;
    background-image: linear-gradient(to right, rgba(54, 64, 152, 0.73), rgba(27, 33, 87, 0.75));
}

.bannerLeft {
    height: 100vh;
    width: 60px;
    position: absolute;
    background-image: linear-gradient(rgba(54, 64, 152, 0.73), rgba(27, 33, 87, 0.75));
}

/* TOP MENU */

.menu {
    height: 100%;
    align-items: center;
    justify-content: left;
    display: inline-flex;
}

.menuList {
    list-style: none;
    margin-left: 50px;
}

.menuList li {
    display: inline-block;
}

.menuList li a {
    font-size: 21px;
    font-family: ptserif;
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(216, 214, 214);
    cursor: pointer;
}

.menu li a.selected {
    text-decoration: underline;
}

.menu .sideMenuButton {
    z-index: 1;
    background-color: transparent;
    border: none;
    margin-left: 8px;
    animation-name: entranceAnimation;
    animation-duration: 1.5s;
}

.menu.open .sideMenuButton {
    display: none;
}

.userInformation {
    display: inline-flex;
    float: right;
    margin-right: 20px;
    height: 100%;
    align-items: center;
    justify-content: left;
}

.userInformation p {
    font-family: ptserif;
    color: white;
}

.userInformation img {
    border-radius: 50px;
    margin-left: 15px;
}

/* BANNER LEFT STYLE */
.bannerLeft.open {
    animation-name: openSideMenu;
    animation-duration: 1s;
    width: 240px;
    z-index: 1;
}

.bannerLeft.close {
    animation-name: closeSideMenu;
    animation-duration: 1s;
}

.closeButton {
    background-color: transparent;
    border: none;
    display: none;
    width: 20px;
    height: 20px;
}

.closeButton img {
    width: 20px;
    height: 20px;
}

.bannerLeft.open .closeButton {
    animation-name: entranceAnimation;
    animation-duration: 1.5s;
    display: inline-flex;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.bannerLeftMenu {
    display: none;
    animation-name: exitAnimation;
    animation-duration: 1.5s;
}

.bannerLeft.open .bannerLeftMenu {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 135px;
    animation-name: entranceAnimation;
    animation-duration: 1.5s;
}

.bannerLeft.open .bannerLeftMenu li {
    margin-top: 25px;
}

.bannerLeft.open .bannerLeftMenu li a {
    font-size: 21px;
    font-family: ptserif;
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

.bannerLeft.open .bannerLeftMenu li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.bannerLeft.open .bannerLeftMenu li a.selected {
    text-decoration: underline;
    text-underline-position: under;
}

.bannerLeft .socialIcons {
    display: block;
    text-align: center;
    margin-top: 150px;
}

.bannerLeft.open .socialIcons {
    margin-top: 25px;
}

.bannerLeft .socialIcons img {
    margin-top: 25px;
    text-align: center;
}

/* CENTER CONTAINER */
.mainContainer {
    position: absolute;
    left: 90px;
    overflow-y: auto;
    height: 69vh;
}

.titleContainer h1 {
    font-family: ptserif;
    color: white;
    font-weight: unset;
    margin: 0;
}

.titleContainer h2 {
    font-family: ptserif;
    color: #122A7E;
    margin: 0;
    font-weight: unset;
}

.mainImageContainer {
    text-align: center;
}

.mainImageContainer img {
    border-radius: 250px;
}

.textContainer {
    margin-top: 30px;
}

.textContainer p {
    font-family: ptserif;
    color: white;
}

.socialIconsContainer {
    text-align: center;
    margin-top: 50px;
}

section {
    display: none;
}

.show {
    display: block;
    animation-name: entranceAnimation;
    animation-duration: 1.5s;
}

.frameworksContainer {
    margin-top: 20px;
}

.frameworks {
    display: inline-block;
    vertical-align: top;
}

.databases {
    display: inline-block;
    vertical-align: top;
}

.languages {
    display: inline-block;
    vertical-align: top;
}

.others {
    display: inline-block;
    vertical-align: top;
}

.mainContainer h3 {
    color: white;
    text-align: center;
    font-family: ptserif;
    font-weight: unset;
    font-size: 21px;
}

.containerTechnologies {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.containerTechnologies img {
    margin: 10px;
    width: 100px;
    height: 100px;
}